@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f5f6fa;
  font-family: 'Rubik', sans-serif;
  font-size: .9rem; }

main {
  padding: 100px;
  width: 80vw; }

.comments {
  display: flex;
  flex-direction: column; }

.comment {
  display: flex;
  background-color: white;
  margin: 20px;
  padding: 20px;
  gap: 20px;
  width: 100%; }

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80px;
  background-color: #f5f6fa;
  padding: 5px;
  gap: 10px; }
  .vote__score {
    max-width: 20px;
    color: #5457b6;
    font-size: .9rem;
    text-align: center;
    border: none;
    background-color: #f5f6fa; }

.content-box {
  width: 100%; }
  .content-box .content {
    color: #67727e;
    line-height: 1.2rem; }

.upper-line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px; }
  .upper-line__username {
    font-weight: 500; }
  .upper-line__createdAt {
    color: #67727e; }
  .upper-line__reply {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;
    color: #5457b6;
    gap: 10px; }
    .upper-line__reply img {
      width: 15px;
      height: 10px; }
  .upper-line__you {
    color: white;
    background-color: #5457b6;
    padding: 2px 5px; }
  .upper-line__buttons {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: auto;
    gap: 15px; }
    .upper-line__buttons__delete {
      color: #ed6368; }
    .upper-line__buttons__edit {
      color: #5457b6; }

.add-comment {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  gap: 20px; }
  .add-comment__content {
    width: 100%;
    height: 100px; }
    .add-comment__content textarea {
      width: 100%;
      max-width: 100%;
      height: 100%;
      color: #67727e;
      outline: none;
      border: 2px solid #eaecf1;
      padding: 10px; }
      .add-comment__content textarea:focus {
        border-color: #c3c4ef; }
      .add-comment__content textarea::placeholder {
        opacity: .5; }

.content {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.add-reply {
  display: flex;
  width: 100%;
  margin-right: 20px;
  animation: appear 1s; }

.button {
  max-height: 50px;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 10px 20px; }

.button-gray {
  background-color: #67727e; }

.button-red {
  background-color: #ed6468; }

.button-blue {
  max-width: 100px;
  justify-self: flex-end;
  margin-left: auto;
  background-color: #5457b6; }

.box-btn {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  font-weight: 700;
  margin-left: auto;
  gap: 10px; }

.icon {
  max-width: 40px; }

.hr {
  position: relative;
  width: 50px;
  opacity: .2; }

hr {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: .5px;
  height: 100%; }

.outer {
  display: flex;
  min-width: 100%; }

.isreply {
  min-width: 100%; }

.hidden {
  display: none; }

.active {
  display: block; }

.flex {
  display: flex; }

.opacity-5 {
  opacity: .5; }

.border-radius {
  border-radius: 10px; }

.cursor {
  cursor: pointer; }

.textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: #67727e;
  outline: none;
  border: 2px solid #eaecf1;
  padding: 10px; }
  .textarea:focus {
    border-color: #c3c4ef; }

.overlay {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3); }

.delete-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  color: #67727e;
  line-height: 1.2rem;
  background-color: white;
  padding: 20px;
  gap: 20px; }
  .delete-box h2 {
    color: black;
    opacity: .8; }
  .delete-box__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px; }

@keyframes appear {
  0% {
    transform: translateY(-30%); }
  100% {
    transform: translateY(0%); } }
